
table, th, td {
border: 1px solid black;
border-collapse: collapse;
font-size: 30px;

}
table{
  width: 100%;
}

th,td{
  min-width: 25%;
}

button{
  font-size: 30px;
  background-color: #99ff66;
  width: 100%;
  height: 200%;
}
