.qwe{
  width: 800px;
  height: 600px;
  background-color: rgb(255, 159, 0);
  font-size: 20px;


}

.xyz{

  color: red;
  font-size: 30px;
}

.mahlas{
  color: green;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.sifre{
  margin: auto;
}

.form{
  font-size: 24px;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(255,255,255,0.8);
}
.ind{

  background-color:
}

body{
  color: #777;
  background: #4CAF50;
  align-content: center;

}
h1{
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}
