.qwe{
  width: 800px;
  height: 600px;
  background-color: rgb(255, 159, 0);
  font-size: 20px;


}

.xyz{

  color: red;
  font-size: 30px;
}

.mahlas{
  color: green;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.sifre{
  margin: auto;
}

.form{
  font-size: 24px;
}
