{% extends "topnav.html" %}

{% block content %}
    <link rel="stylesheet" href={{ url_for('static', filename='yaziver.css') }}>

    <div class="texter_container"></div>
    <div id="collider" class="collider">
        <h3>İçerik Ekle</h3>
        <p>İçerik eklemeden önce lütfen kılavuzu okuyun, içeriğinizi değerlendirirken kılavuzu okuduğunuzu
            varsayacağız.</p>
        <p>İçerik paneli kullanımı: <br>
        <ol>
            <li>Eklemek istediğiniz içeriğin tipini seçin</li>
            <li>Eklemek için gerekli alanları doldurduktan sonra önizleme kısmında içeriğinizi teyit edin.</li>
            <li>En alttaki gönder butonuyla içeriğinize bize gönderin.</li>
        </ol>

        </p>
        <select class="selection" id="selection">
            <option value="1">Yazı</option>
            <option value="2">Fotoğraf</option>
            <option value="3">Şiir</option>
        </select>
        <br>
        <input type="text" name="mahlas" id="mahlas" placeholder="Mahlas"><br>
        <input type="password" name="password" id="password" class="box" placeholder="Şifre"><br>
        <input type="text" class="duzyazi" name="metin_ismi" id="metin_ismi" class="box" placeholder="Metin İsmi">
        <textarea name="yazi" id="metin" name="metin" class="duzyazi"></textarea>

        <form method="post" enctype="multipart/form-data" action="{{ url_for('content_get') }}">
            <input type="file" onchange="readURL(this);" class="avatar" id="avatar" accept="image/png, image/jpeg">
            <img id="image_preview" class="image_preview" src="#" alt="resim önizleme"/>
        </form>
        <div class="text_preview" id="text_preview">
            <h3 id="baslik">BAŞLIK</h3>
            <p id="paragr">Yazının başlangıcından bir kısım</p>
            <p id="mahlas" class="mahlas">Bence_de</p>
        </div>
        <input type="submit" id="post_form" value="Gönder">

    </div>

    <script src={{ url_for('static', filename='main.js') }} type="text/javascript"></script>
    <script src={{ url_for('static', filename='yaziver.js') }} type="text/javascript"></script>

{% endblock %}
