{% extends "topnav.html" %}

{% block content %}

<div class="texter_container"></div>

    {% if texts %}
        {% for text in texts %}

            <div class="text_view" onclick="go2text({{ text[0] }})">
                {% set head_and_tail = text[5].split('.') %}
                {% set min_version = head_and_tail[0] + '-min.' + head_and_tail[1]%}
                <img src={{min_version}} data-defer-src={{ text[5] }}>
                <h3>{{ text[1] }}</h3>
                <p>{{ text[2] }}</p>
                <div class="one">
                    <img class="comment_img" src="/static/comment.png">
                    <p class="com_count"> {{ comment_count.get(text[0]|string) }}</p>
                    <p class="mahlas">{{ text[3] }}</p>

                </div>
            </div>
            <br>

        {% endfor %}
    {% endif %}

    <div class="pagination-wrapper">
        <div class="pagination">
            <a class="prev page-numbers" href="/?p={{ prev }}">önce</a>
            {% for page_idx in pages %}
                {% if page_idx == current %}
                    <span aria-current="page" class="page-numbers current">{{ page_idx }}</span>
                {% else %}
                    <a class="page-numbers" href="/?p={{ page_idx }}">{{page_idx}}</a>
                {% endif %}
            {% endfor %}

            <a class="next page-numbers" href="/?p={{ next }}">sonra</a>
        </div>
    </div>
    <script>
        function go2text(id) {
            console.log(id);
            link = 'content_view/'.concat(id);
            window.open(link, '_blank');
        }
    </script>

{% endblock %}

<script src={{ url_for('static', filename='main.js') }} type="text/javascript"></script>
