{% extends "topnav.html" %}

{% block content %}

<div class="texter_container"></div>
<div class="text_view" style="white-space:normal;">
    <h3>Yazı göndermek isteyen arkadaşlar için;</h3>
    <ol>
        <li>İlk defa yazı gönderecekler kendilerine bir mahlas ve bu mahlasa ait bir şifre belirlemelidir. Bir sonraki
            yazılarınızda bu mahlası kullanmak için ilk başta belirlediğiniz şifreyi girmeniz gerekmektedir. Mahlasınız
            ve şifreniz sadece sizin tarafınızdan bilinecek olup, unutulması halinde sitenin bu konuda herhangi bir
            sorumluluğu bulunmamaktadır.
        </li>
        <li>Yazılarımızda Türkçemizi güzel kullanmaya özen gösterelim. Paylaştıklarımızın yazım kuralları, noktalama
            işaretleri açısından doğru olmasına ve cümlelerimizde anlatım bozukluğu olmamasına dikkat edelim.
        </li>
        <li>Hiçbir şahsı, zümreyi, topluluğu doğrudan hedef alan hakaret içerikli yazılar kabul edilmeyecektir.
            (Yazacağınız eleştiri niteliğindeki metinlerde özgürsünüz; hayal gücünüze ve anlatım kabiliyetinize
            güveniyoruz. :) )
        </li>
        <li>Yazılar altına yapılan yorumlarda da mahlas ve şifre gerekmektedir. Yorumlarınız yazılarımızda da geçerli
            olan kriterlere uygunluğuna bağlı olarak adminler tarafından değerlendirilecektir. Yorumlarımızdaki temel
            amacın birbirimizin fikirlerine katkı sağlamak olduğunu göz önünde bulunduralım.
        </li>
        <li>Gönderilen her yazı sitenin adminleri tarafından kılavuza uygun olup olmama açısından incelenecek, kılavuzda
            yer alan kriterlere uygun olmayan yazılar kabul edilmeyecektir.
        </li>
        <li>Yazınızın sitede yayınlanmaması durumunda bize İletişim sayfasında yer alan mail adresi üzerinden
            ulaşabilir, soru ve sorunlarınızı iletebilirsiniz.
        </li>
    </ol>
    <p>

    </p>
</div>
<br>

<script src={{ url_for('static', filename='main.js') }} type="text/javascript"></script>
{% endblock %}

