{% extends "topnav.html" %}

{% block content %}

    <div class="texter_container"></div>

    <div class="text_view" style="white-space:normal;">
        <h3>KİMİZ?</h3>
        <p>Zamanın birinde, çok da uzak olmayan o diyarda okul dergisi çıkarmak
            üzere bir araya gelmiş birkaç gençtik biz. O zaman bir şeyler yaptık
            kendimizce. Sonra vakit geçti, yol ayrımı geldi. Ancak içimizden
            birinin peşine anılar düştü; aklına esti, acaba dedi: Olur mu bir daha?
            İstek varsa yol da vardır diyerek yeniden bir araya geldik;
            kelimelerimiz yankı olmasın, kulak verenlerin zihninde yeni kapılar
            açsın diye. Bu yol bizi nereye götürür, karşımıza neler çıkarır
            bilinmez. Kimimizin hikayeleri kesişecek belki, bir olacak; kimimiz
            yalnızlığın tadını çıkaracak gökyüzünü izlerken. Yine de her şeye
            rağmen yolculuktan bize kalanlardır esas olan. Bizimle yürümek
            isteyenlere elimizi uzattık; tutmak isteyenler uzatanın bir dost
            olduğunu bilsinler, hikayelerini tamamlayacak olanı bulsunlar istedik.
            Menzile varıncaya dek hikayelerimize ortak olacak yoldaşlar bulmak
            dileğiyle...</p>
        <p>Instagram:<a href="https://www.instagram.com/garga.ist/">@garga.ist</a>
            Mail:<a href="mailto:garga.ist@gmail.com">garga.ist@gmail.com</a></p>
        <br>
    </div>
    <br>


    <script src={{ url_for('static', filename='main.js') }} type="text/javascript"></script>
{% endblock %}

