{% extends "topnav.html" %}

{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="texter_container"></div>
    <div class="text_view">
        {% if img_path %}
        <img src={{ img_path }}>
        {% endif %}

        {% if text_name %}
        <h3>{{ text_name }}</h3>
        {% else %}
        <h3>Böyle</h3>
        {% endif %}

        {% if text %}
        <p> {{ text }}</p>
        {% else %}
        <p>bir içerik </p>
        {% endif %}

        {% if mahlas %}
        <p> {{ mahlas }}</p>
        {% else %}
        <h4 style="font-style: italic"> Yok </h4>
        {% endif %}

    </div>

    {% if username %}
        <div class="text_view">
            {% if votes %}
                {% for vote in votes.keys() %}
                    {% if votes[vote] == 'kötü' %}
                        <a style="color:red"> {{ vote }} ::: {{ votes[vote] }}</a>
                    {% elif votes[vote] == 'iyi' %}
                        <a style="color:green"> {{ vote }} ::: {{ votes[vote] }}</a>
                    {% else %}
                        <a> {{ vote }} ::: {{ votes[vote] }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="collider">

            <h2>Sence nasıl {{ username }}?</h2>
            <div class="switch-field">
                <input type="radio" id="radio-one" name="vote_val" value="onay" checked/>
                <label for="radio-one">Güzel</label>
                <input type="radio" id="radio-two" name="vote_val" value="ret"/>
                <label for="radio-two">Olmamış</label>
            </div>
            <button type="button" class="btn btn-dark" id="vote">Oyla</button>
        </div>

        <script>
            {% if text_id %}
            var id = {{ text_id }}
            {% endif %}
            $(document).ready(function() {
                $('#vote').click(function () {
                    var vote_val = $("input[name='vote_val']:checked").val();
                    if(confirm("Oyunu kaydediyorum, son kararın mı?")) {
                        $.post("/admin/vote",
                            {
                                vote: vote_val,
                                text_id: id
                            },
                            function (data, status) {
                                console.log(data);
                                console.log(status);
                                if (data.success == true) {
                                    alert("Kaydettim, şimdi sayfayı yenileyeceğim ve oy " +
                                        "durumunun güncellendiğini göreceksin.");
                                    location.reload();
                                } else {
                                    alert("Bir hata oluştu, yeçe söyle");
                                }

                            })
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
<script src={{ url_for('static', filename='main.js') }} type="text/javascript"></script>

