@font-face {
    font-family: 'Nexa_Bold'; /*a name to be used later*/
    src: url('https:garga.ist/nexa/nexa_light-webfont.ttf'); /*URL to font*/
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color : #4B132E;;#D8F0EB;#7e7f82;
}

.topnav {
  overflow: hidden;
  background-color: #333333;#333;
  position : fixed;
  top: 0;
  width : 100vw;
  max-height: 30vh;
  z-index: 1;
  display: inline-block;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  left : 10vh;
  position: relative;
  font-family: Nexa_Bold;
}
.topnav h2 {
  text-align: center;
  color: #D8F0EB;
  max-height:5vh;
  font-size: 50px;
  font-family: Nexa_Bold;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}
.topnav p{
  font-size: 14px;
  align: center;
  text-align: right;
  color: #D8F0EB;
  max-height:5vh;
  font-family: Nexa_Bold;
  font-style: italic;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.topnav input[type=text] {
    width: 90%;
    horizontal-align: center;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #50AC54;#D82825;#4CAF50;
  color: white;
}

.text_view {
   background-color: #787878;#4CAF50;
   border: 3px;
   border-color: #262624;
   border-style: dashed;
   margin: 0 auto;
   width : 95%;90vw;
   min-height: 10em;
   line-height: 1.2em;
   text-align : left;
   position: relative;
   font-size : 20px;
   word-wrap: break-word;
}

p,h3{
  margin-left: 10px;
  margin-right: 10px;
  font-family: Nexa_Bold;
}

.topnav img{
  position: fixed;
  top: 6px;
  left: 10px;
  align: left;
  max-height : 6vh;

}

.sentence_view {
   background-color: #4CAF50;
   align : center;
   width : 90vw;
   margin : auto;
   min-height: 5em;
   max-width : 1000px;
   line-height: 1.2em;
   text-align : left;
   position: relative;
   left : 10px;
   font-size : 20px;
}
.sentence_view h3{
   right : 10px;
   position: relative;
   text-align : right;
   font-style: italic;
}
