<!DOCTYPE html>
<html>
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67954605-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-67954605-3');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href={{ url_for('static', filename='master.css') }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

  <div class="topnav" id="topnav">
    <h2 onclick='to_mainpage()'>GARGA</h2>
    <br>
      <div class="flex_box">

        <div class="menu1">
            <a class="svg1" id="svg1" onclick="midmenu('menu1_content')" ></a>
            <div class="dropdown-content" id="menu1_content">
              <a href="#">Düz Yazı</a>
              <a href="#">Şiir</a>
              <a href="#">Fotoğraf</a>
            </div>
        </div>

        <div class="dropdown">
           <button class="dropbtn" id="dropbtn" onclick="midmenu('myDropdown')">MENÜ
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content" id="myDropdown">
             <a href="https://garga.ist/kimiz.html">Biz Kimiz?</a>
             <a href="https://garga.ist/kilavuz.html">Kılavuz</a>
             <a href="#">İletişim</a>
             <a href="https://garga.ist/ekle.html">İçerik Ekle</a>
           </div>
       </div>

       <div class="menu2">
           <a class="svg2" id="svg2" onclick="midmenu('menu2_content')" ></a>
           <div class="dropdown-content" id="menu2_content">
             <a href="#">Sinema</a>
             <a href="#">Tiyatro</a>
             <a href="#">Dizi</a>
           </div>
       </div>

      </div>
  </div>

  <br><br><br><br><br><br><br><br><br>

    <div class="text_view" style="white-space:normal;">
      <h3>Yazı göndermek isteyen arkadaşlar için;</h3>
      <ol>
        <li>Hiçbir şahsı, zümreyi, topluluğu doğrudan hedef alan hakaret içerikli yazılar kabul edilmeyecektir. (Yazacağınız eleştiri niteliğindeki metinlerde özgürsünüz; hayal gücünüze ve anlatım kabiliyetinize güveniyoruz. :) )</li>
        <li>Yazılarımızda Türkçemizi güzel kullanmaya özen gösterelim. Paylaştıklarımızın yazım kuralları, noktalama işaretleri açısından doğru olmasına ve cümlelerimizde anlatım bozukluğu olmamasına dikkat edelim.</li>
        <li>Yazı göndermek isteyen arkadaşlar, bir mahlas ve buna özel site tarafından sağlanan bir şifre ile paylaşım yapabileceklerdir. Mahlasınız ve şifreniz sadece sizin tarafınızdan bilinecek olup, unutulması halinde sitenin bu konuda bir sorumluluğu bulunmamaktadır.</li>
        <li>Yazılar altına yapılan yorumlarda da mahlas ve şifre gerekmektedir. Yorumlarınız yazılarımızda da geçerli olan kriterlere uygunluğuna bağlı olarak adminler tarafından değerlendirilecektir. Yorumlarımızdaki temel amacın birbirimizin fikirlerine katkı sağlamak olduğunu göz önünde bulunduralım.</li>
        <li>Gönderilen her yazı sitenin adminleri tarafından kılavuza uygun olup olmama açısından incelenecek, kılavuzda yer alan kriterlere uygun olmayan yazılar kabul edilmeyecektir.</li>
        <li>Yazınızın sitede yayınlanmaması durumunda bize İletişim sayfasında yer alan mail adresi üzerinden ulaşabilir, soru ve sorunlarınızı iletebilirsiniz.</li>
      </ol>
      <p>

      </p>
    </div>
    <br>

    <script src={{ url_for('static', filename='main.js') }} type="text/javascript"></script>

  </body>
  </html>
